body{
    background-color: #002D70;
    background-image: linear-gradient(to right, #011B41, #002D70);
}

.portfolio-container {
    position: relative;
}

ul {
    list-style-type: none;
}

.portfolio-menu {
    position: absolute;
    padding-top: 12.5%;
    margin-left: 85%;
    display: flex;
    color: white;
}

.portfolio-menu-tab {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    box-sizing: border-box;
    background: linear-gradient(262.19deg, #103B77 -1.11%, rgba(16, 59, 119, 0) 99.8%);
    border: 2px solid #FFFDFD;
    filter: drop-shadow(17px 19px 37px rgba(0, 0, 0, 0.25));
}

.portfolio-menu-tab-first {
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #FFFDFD;
    filter: drop-shadow(17px 19px 37px rgba(0, 0, 0, 0.25));
    background: #f8f9fa;
    color:  black;
}

.portfolio-about-description {
    position: absolute;
    width: 792px;
    height: 135px;
    left: 85px;
    top: 600px;
    font-family: Vidaloka;
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 45px;
    text-transform: lowercase;
    color: #A8C9F4;
}

.portfolio-menu-tab:hover{
    color: #000;
    background: #f8f9fa;
    border-color: #f8f9fa;
}
